:root {
  --main: #ffaf18;
  --main-hover: #c78a1a;
  --logo-txt: #ffc468;
  --nav-txt: #a46b00;
  --hero-txt: #b99150;
  --main-title: #bd985c;
  --card-title: #382400;
  --card-text: #181a1a;
}

@font-face {
  font-family: Muller;
  src: url('../assets/fonts/MullerExtraBold.woff');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: Muller;
  src: url('../assets/fonts/MullerBold.woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: Muller;
  src: url('../assets/fonts/MullerRegular.woff');
  font-weight: 200;
  font-style: normal;
}

button {
  cursor: pointer;
}


body {
  font-family: Muller, Georgia, 'Times New Roman', Times, serif;
  font-weight: 200;
}

header {
  box-shadow: 0px 3px 7.5px rgba(120, 120, 120, 0.124);
}

nav {
  height: 100px;
}

nav {
  max-width: 1200px;
  margin: auto;
  display: flex;
  /* justify-content: space-between; */
  gap: 15%;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
  gap: 5px;
}

.logo img {
  width: 70px;
  height: 70px;
}

.logo__text {
  font-size: 24px;
  line-height: 30px;
  letter-spacing: 1px;
  font-weight: 900;
  color: var(--logo-txt);
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}

nav ul a {
  text-decoration: none;
  color: var(--nav-txt);
}

.nav__menu {
  display: none;
  margin-right: 10px;
}

.nav__menu img {
  width: 44px;
  height: 44px;
}

main {
  max-width: 1200px;
  margin: auto;
}

/* Hero section */

.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 142px;
}

.hero img {
  height: 342px;
  width: 512px;
}

.hero__text {
  display: flex;
  flex-direction: column;
  gap: 60px;
}

.hero__text h1 {
  color: var(--hero-txt);
  font-size: 45px;
  font-weight: 900;
  line-height: 55px;
}

.hero__text h1 span {
  color: var(--main);
}

.hero__favourites {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 50px;
}

.hero__favourites_item {
  display: flex;
  align-items: center;
  gap: 16px;
}

.hero__favourites_item_text h3 {
  font-size: 1rem;
  font-weight: 900;
  text-transform: uppercase;
  color: var(--main);
}

.hero__favourites_item_text p {
  color: var(--hero-txt);
  line-height: 16px;
}

.hero__favourites_item img {
  height: 60px;
  width: 60px;
}

.hero__text button {
  height: 60px;
  width: 224px;
  border: none;
  font-weight: 500;
  background-color: var(--main);
}

/* Products  */

.products {
  margin-top: 160px;
  text-align: center;
}

.products h2 {
  font-size: 35px;
  font-weight: 500;
  line-height: 55px;
  color: var(--main-title);
  margin-bottom: 66px;
}

.products__cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 24px;
}

.products__cards_item {
  height: 354px;
  width: 282px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  box-shadow: 0px 3px 7.5px rgba(152, 152, 152, 0.2);
}

.card_logo {
  height: 176px;
  width: 226px;
}

.card_title {
  margin-top: auto;
  font-size: 18px;
  font-weight: 500;
  color: var(--card-title);
}

.card_description {
  font-size: 14px;
  line-height: 18px;
  color: var(--card-text);
  margin-bottom: auto;
}

.products__cards_item button {
  height: 50px;
  width: 100%;
  font-size: 16px;
  font-weight: 500;
  border: none;
  background-color: var(--main);
}

/* Footer  */
footer {
  max-width: 1200px;
  margin: 180px auto 106px auto;
  padding: 0 20px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.footer__text {
  max-width: 384px;
  margin-right: auto;
}

.footer__text h2 {
  margin-bottom: 84px;
  font-size: 35px;
  line-height: 45px;
  font-weight: 800;
  color: var(--main);
}

.footer__text h2 span {
  color: var(--main-title);
}

.footer__text p {
  font-size: 1rem;
  line-height: 24px;
  font-weight: 200;
  color: var(--hero-txt);
}

footer img {
  transform: translateX(120px);
}

footer form {
  display: flex;
  flex-direction: column;
  width: 330px;
  gap: 25px;
  align-self: center;
  justify-self: flex-end;
}

footer form input,
button {
  width: 100%;
  height: 60px;
}

footer form input {
  border: 1px solid var(--main);
  outline: none;
  font-size: 18px;
  line-height: 45px;
  padding-left: 22px;
}

footer form input::placeholder {
  color: var(--hero-txt);
  opacity: 1;
}

footer form button {
  border: none;
  background-color: var(--main);
  font-size: 16px;
  line-height: 55px;
  font-weight: 500;
}

button:hover {
  background-color: var(--main-hover);
  color: white;
}

@media screen and (max-width: 1470px) {
  footer {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }

  footer img {
    transform: translateX(0px);
    /* grid-column: 1 / 3; */
  }
}

@media screen and (max-width: 1200px) {
  .hero {
    flex-direction: column;
    gap: 20px;
    padding: 0 10px;
  }

  .hero img {
    order: -1;
  }

  .products__cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .products__cards_item {
    margin: auto;
  }
}

@media screen and (max-width: 780px) {
  footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 30px;
  }

  .footer__text {
    margin-right: 0;
  }

  footer img {
    transform: translateX(0px);
  }
}

@media screen and (max-width: 660px) {
  nav {
    justify-content: space-between;
  }

  nav ul {
    /* visibility: hidden; */
    display: none;
  }

  .nav__menu {
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .hero__favourites {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 50px;
  }

  .products__cards {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
}